APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:zouj6REHKfzXHVZGNKsTN8nT5CDqrh1pKCwcic0cMBw=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=$2y$10$R7QKRohY455d/Az0kB9si.OvythmA5nEuDYLZrnS9PVfQ968sEGou
ADMIN_PASSWORD_DECRYPT=_9#7Y4377Q9[jY$

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=9eb0e99abeb154
MAIL_PASSWORD=9978f68f8d4588
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@hoydonamos.com
MAIL_FROM_NAME="Che, hoy donamos"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FILESYSTEM_DRIVER=cloudinary

CLOUDINARY_URL=CLOUDINARY_URL=cloudinary://781833361685379:NOgdGoPJtgQIPXHQ_-qEjDFG1lo@che-hoy-donamos
CLOUDINARY_UPLOAD_PRESET=NOgdGoPJtgQIPXHQ_-qEjDFG1lo
CLOUDINARY_NOTIFICATION_URL=